{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form) }}

    <div class="container">

        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Login</h4>
                <hr>
                <p class="text-success text-center">COUCOU TOI</p>
                {% if error %}
                    {{ error.message }}
                {% endif %}
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_widget(form._username, {attr: {class: "form-control"}, full_name: "_username"}) }}
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_widget(form._password, {attr: {class: "form-control"}, full_name: "_password"}) }}
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        {{ form_widget(form.login, {attr: {class: "btn btn-primary btn-block"}}) }}
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
