{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% for oneNews in news %}
            <div class="card my-3">
                <h2 class="card-header">{{ oneNews.title }}</h2>
                <div class="card-body">
                    <p>
                        {{ oneNews.content }}
                    </p>

                    {% if is_granted('ROLE_ADMIN') and oneNews.author == app.user %}
                        <a href="{{ path('app_news_update', {"news": oneNews.id}) }}"
                           class="btn btn-primary">Modifier</a>
                        <a href="{{ path('app_news_remove', {"news": oneNews.id}) }}"
                           class="btn btn-danger">Supprimer</a>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    <time>{{ oneNews.updatedAt.format('d/m/Y') }} à {{ oneNews.updatedAt.format('H:m') }}
                        par {{ oneNews.author.username }}
                    </time>
                </div>
            </div>
        {% else %}
            Ri1
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_news_create') }}" class="btn btn-success">Ecrire un
                article</a>
        {% endif %}
    </div>
{% endblock %}