{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <h2>Modifier un album</h2>
        <p>
            {{ form_errors(form) }}
        </p>
        <p>{{ form_errors(form.title) }}</p>
        <p>{{ form_label(form.title) }}</p>
        <p>{{ form_widget(form.title, {attr: {class:"form-control"}}) }}</p>
        <p>{{ form_widget(form.save, {attr: {class:"btn btn-primary"}}) }}</p>
        {{ form_end(form) }}
    </div>
{% endblock %}