{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h2 class="mb-4">Liste des albums</h2>
        <div class="row">
            <div class="card-columns w-100">
                {% for album in albums %}
                    <div class="mb-4">
                        <a href="{{ path('app_gifs_album_view', {album: album.id}) }}">
                            <div class="card w-100 border border-primary">
                                {% if album.getGifs()|length >= 1 %}
                                    <img src="{{ album.getGifs()[0].url }}" class="card-img-top" alt="">
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text">{{ album.title }}</p>
                                    <small>{{ album.getGifs()|length }} Gifs</small>
                                    <small class="text-muted float-right">Créé
                                        le {{ album.createdAt.format('d/m/Y à H:m') }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    Pas encore d'albums :'(
                {% endfor %}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <br>
                <a href="{{ path("app_gifs_album_create") }}" class="btn btn-primary">Ajouter un album</a>
            {% endif %}
        </div>
        <h2 class="mb-2 mt-4">Explorer par tags</h2>
        <div>
            {% for tag in tags %}
                <a class="badge badge-secondary"
                   href="{{ path('app_gifs_tag_search', {tag: tag.name}) }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}