{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_gifs_album_index') }}" class="mb-2"><- Revenir à la liste des albums</a>

        <h2 class="mb-3">{{ album.title }} {% if is_granted('ROLE_ADMIN') and album.author == app.user %}<small><a
                        href="{{ path('app_gifs_album_edit', {album: album.id}) }}">Modifier</a></small>{% endif %}
        </h2>
        {% if is_granted('ROLE_USER') and album.getGifs()|length >= 1 %}
            <a class="btn btn-warning mb-5" href="{{ path('app_gifs_favs', {album: album.id}) }}">Afficher les favoris
                seulement</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') and album.author == app.user %}
            <a href="{{ path("app_gifs_create", {album: album.id}) }}" class="btn btn-primary float-right">Ajouter un
                Gif</a>
        {% endif %}
        <div class="row">
            <div class="card-columns">
                {% for gif in album.getGifs() %}
                    <div class="mb-4">
                        <div class="card w-100 border border-secondary">
                            <img src="{{ gif.url }}" alt="" class="card-img-top">
                            <div class="card-body">
                                {% for tag in gif.tags %}
                                    <a class="badge badge-secondary"
                                       href="{{ path('app_gifs_tag_search', {tag: tag.name}) }}">{{ tag.name }}</a>
                                {% endfor %}
                                <p><small class="text-muted">Ajouté le
                                        : {{ gif.createdAt.format('d/m/Y à H:m') }}</small></p>
                                {% if is_granted('ROLE_ADMIN') and gif.album.author == app.user %}
                                    <a href="{{ path('app_gifs_delete', {album: gif.album.id, gif: gif.id}) }}"
                                       class="btn btn-danger">Supprimer</a>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    {% if gif.isFavedBy(app.user) %}
                                        <a class="float-right btn btn-warning mb-3"
                                           href="{{ path('app_gifs_fav', {album: gif.album.id, gif: gif.id}) }}"
                                           title="Supprimer des favoris">❤</a>
                                    {% else %}
                                        <a class="float-right btn btn-outline-warning mb-3"
                                           href="{{ path('app_gifs_fav', {album: gif.album.id, gif: gif.id}) }}"
                                           title="Ajouter aux favoris">❤</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    Pas encore de Gif :'(
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}