{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Bonjour !</h1>
        <p>Merci de vous connecter ici : <a href="{{ path('app_user_login') }}" class="btn btn-primary">Connexion</a>
        </p>
    </div>
{% endblock %}